# https://help.github.com/articles/dealing-with-line-endings

# Set default behaviour, overriding core.cutocrlf
*	text=auto

# Our jinja2 templates will always be unixy as the test fixtures are "recorded" with the lf version
*.j2	text eol=lf

