# core runtime
-r requirements/yaybu.txt

nose2

# exxtras just for dev environment/travis
coverage
coveralls
unittest2
flake8

# yay from git master
-e git://github.com/yaybu/yay@master#egg=yay

-e .

