H1, H2, H3, h4, h5, h6 {
    font-family: "futura-pt", futura, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.yaybu-strap {
    font-family: "futura-pt", futura, sans-serif;
    text-transform: uppercase;   
    font-weight: 300;
}
.jumbotron .yaybu-logo {
    font-size: 120px;
}
.yaybu-logo IMG {
    display: inline-block;
    vertical-align: middle;
    margin: 0.1em;
}